src/__pycache__/*
jupyter/test_plot.ipynb
jupyter/test.ipynb
jupyter/test_arima.ipynb
jupyter/on-line_predicting.ipynb
src/data_prepare.py
#dbs/instances_metadata/*
#dbs/instances_object/*
src/arima.py
